In [2]:
import pandas as pd

In [331]:
# df = pd.read_csv('dataset_18-21_.csv',index_col=0)
# df_mac = pd.read_csv("mac.csv", index_col=0)
# df_bucks = pd.read_csv("starbucks.csv", index_col=0)
# df_bank = pd.read_csv("bank.csv", index_col=0)
# df_park = pd.read_csv("park.csv", index_col=0)
# df_crime = pd.read_csv("crime.csv", index_col=0)
# df_edu = pd.read_csv("education.csv", index_col=0)
# df_cctv = pd.read_csv("cctv.csv", index_col=0)
# df_metro = pd.read_csv("metro.csv", index_col=0)
# df_doc = pd.read_csv("docPerPop_Points.csv", index_col=0)

In [337]:
cities = df['구별'].unique()

In [338]:
l= [] 
for i in cities:
    aa = round(df[df['구별']==i]['면적당가격'].mean())
    l.append(aa)
l

[8083332,
 6634127,
 11372042,
 6947966,
 9402561,
 11075892,
 15651339,
 15322586,
 8423711,
 13912045,
 10972551,
 11167321,
 7430068,
 8709675,
 7361840,
 9446260,
 18666598,
 10281081,
 8009573,
 20650299,
 7576463,
 12946132,
 12075338,
 9948667,
 11758204]

In [339]:
aaaa= pd.DataFrame([cities,l])

In [321]:
df = df_mac.transpose()

In [342]:
df = aaaa.transpose().rename(columns={0:"구별",1:"평균"})

In [348]:
tar = df['평균'].max()

In [349]:
df

      구별        평균          총점
0    노원구   8083332  1028787.71
1    도봉구   6634127   844343.44
2   영등포구  11372042  1447350.80
3    금천구   6947966   884286.58
4   동대문구   9402561  1196689.58
5    양천구  11075892  1409658.98
6    용산구  15651339  1991988.60
7    송파구  15322586  1950147.31
8    관악구   8423711  1072108.67
9    성동구  13912045  1770623.91
10    중구  10972551  1396506.49
11   강동구  11167321  1421295.40
12   강북구   7430068   945645.02
13   성북구   8709675  1108504.09
14   중랑구   7361840   936961.45
15   강서구   9446260  1202251.27
16   서초구  18666598  2375748.84
17   종로구  10281081  1308501.22
18   은평구   8009573  1019400.20
19   강남구  20650299  2628219.87
20   구로구   7576463   964277.11
21   마포구  12946132  1647689.53
22   광진구  12075338  1536861.20
23  서대문구   9948667  1266193.98
24   동작구  11758204  1496498.69

In [356]:
ll = []
for x in df['평균'].values:
    aa = round((x/tar)*10*0.14,2)
    ll.append(aa)
df['총점'] = ll

In [358]:
df.to_csv("priceLand.csv")

In [322]:
df.columns = df.loc['구별']

In [323]:
df =  df.drop("구별")

In [324]:
l = []
for i in df.columns:
    a = df[i].mean()
    l.append(a)
l

[5.25,
 11.0,
 6.0,
 5.0,
 3.0,
 2.0,
 2.0,
 3.5,
 2.0,
 3.0,
 3.0,
 3.0,
 3.0,
 4.0,
 5.0,
 4.0,
 3.0,
 3.0,
 4.0,
 4.0,
 4.0,
 4.0,
 4.0,
 1.0,
 2.0]

In [325]:
df = df.transpose()
df['합계'] = l
df['합계']

구별
송파구      5.25
강남구     11.00
서초구      6.00
종로구      5.00
중구       3.00
용산구      2.00
성동구      2.00
마포구      3.50
광진구      2.00
동대문구     3.00
강동구      3.00
중랑구      3.00
성북구      3.00
강북구      4.00
노원구      5.00
양천구      4.00
은평구      3.00
서대문구     3.00
강서구      4.00
구로구      4.00
금천구      4.00
영등포구     4.00
동작구      4.00
관악구      1.00
도봉구      2.00
Name: 합계, dtype: float64

In [326]:
df

     2018년 2019년 2020년 2021년     합계
구별
송파구      5     5     5     6   5.25
강남구     11    11    11    11  11.00
서초구      6     6     6     6   6.00
종로구      5     5     5     5   5.00
중구       3     3     3     3   3.00
용산구      2     2     2     2   2.00
성동구      2     2     2     2   2.00
마포구      3     3     4     4   3.50
광진구      2     2     2     2   2.00
동대문구     3     3     3     3   3.00
강동구      3     3     3     3   3.00
중랑구      3     3     3     3   3.00
성북구      3     3     3     3   3.00
강북구      4     4     4     4   4.00
노원구      5     5     5     5   5.00
양천구      4     4     4     4   4.00
은평구      3     3     3     3   3.00
서대문구     3     3     3     3   3.00
강서구      4     4     4     4   4.00
구로구      4     4     4     4   4.00
금천구      4     4     4     4   4.00
영등포구     4     4     4     4   4.00
동작구      4     4     4     4   4.00
관악구      1     1     1     1   1.00
도봉구      2     2     2     2   2.00

In [327]:
df = df.reset_index()

In [328]:
tar = df['합계'].max()

In [329]:
ll = []
for x in df['합계'].values:
    aa = round((x/tar)*10*0.08,2)
    ll.append(aa)
df['총점'] = ll

In [330]:
df.to_csv("mac.csv")

In [219]:
df_bank[df_bank['구별']=='강동구']['금융기관'].mean()

60.666666666666664

In [252]:
ll = []
for x in df['평균'].values:
    aa = round((x/tar)*10*0.08,2)
    ll.append(aa)
df['총점'] = ll

In [254]:
df.to_csv("bank.csv")

In [148]:
kk = []
ee = []
mm = [] 
hh = [] 
for ci in cili:
    k = df_edu[df_edu['구별']==ci]['학급당학생수(유아)'].mean()
    e = df_edu[df_edu['구별']==ci]['학급당학생수(초등)'].mean()
    m = df_edu[df_edu['구별']==ci]['학급당학생수(중등)'].mean()
    h = df_edu[df_edu['구별']==ci]['학급당학생수(고등)'].mean()
    kk.append(round(k,2))
    ee.append(round(e,2))
    mm.append(round(m,2))
    hh.append(round(h,2))

[kk,ee,mm,hh]

[[18.83,
  15.07,
  20.73,
  19.93,
  21.0,
  18.17,
  18.7,
  19.0,
  15.0,
  18.93,
  17.9,
  16.63,
  20.23,
  19.47,
  18.83,
  18.7,
  19.47,
  15.73,
  19.9,
  18.8,
  16.93,
  19.33,
  18.93,
  20.6,
  20.7],
 [19.7,
  20.93,
  20.27,
  20.1,
  22.77,
  22.0,
  21.47,
  23.2,
  22.4,
  21.73,
  22.0,
  22.87,
  22.4,
  22.4,
  23.83,
  22.5,
  21.87,
  19.47,
  20.77,
  23.33,
  21.43,
  26.0,
  25.77,
  22.77,
  22.37],
 [21.2,
  16.8,
  21.63,
  22.37,
  24.77,
  22.63,
  22.73,
  24.33,
  25.33,
  22.67,
  24.1,
  24.03,
  22.03,
  24.53,
  25.5,
  23.93,
  23.53,
  22.4,
  23.03,
  24.4,
  23.4,
  26.0,
  27.37,
  24.53,
  23.0],
 [24.97,
  24.63,
  23.1,
  21.43,
  27.1,
  24.47,
  23.73,
  24.97,
  26.1,
  23.4,
  25.3,
  25.73,
  26.57,
  26.93,
  26.57,
  24.53,
  25.77,
  23.87,
  24.0,
  26.17,
  23.73,
  26.97,
  26.17,
  25.3,
  25.1]]

In [162]:

dfe = pd.DataFrame([cili,kk,ee,mm,hh]).transpose()
dfd = dfe.rename(columns={0:"구별",1:"평균(유아)",2:"평균(초등)",3:"평균(중등)",4:"평균(고등)"})

In [166]:
tar = dfd['평균(유아)'].max()
tar

21.0

In [167]:
cities = dfd['구별'].unique()

In [169]:
dfd

      구별 평균(유아) 평균(초등) 평균(중등) 평균(고등)
0    종로구  18.83   19.7   21.2  24.97
1     중구  15.07  20.93   16.8  24.63
2    용산구  20.73  20.27  21.63   23.1
3    성동구  19.93   20.1  22.37  21.43
4    광진구   21.0  22.77  24.77   27.1
5   동대문구  18.17   22.0  22.63  24.47
6    중랑구   18.7  21.47  22.73  23.73
7    성북구   19.0   23.2  24.33  24.97
8    강북구   15.0   22.4  25.33   26.1
9    도봉구  18.93  21.73  22.67   23.4
10   노원구   17.9   22.0   24.1   25.3
11   은평구  16.63  22.87  24.03  25.73
12  서대문구  20.23   22.4  22.03  26.57
13   마포구  19.47   22.4  24.53  26.93
14   양천구  18.83  23.83   25.5  26.57
15   강서구   18.7   22.5  23.93  24.53
16   구로구  19.47  21.87  23.53  25.77
17   금천구  15.73  19.47   22.4  23.87
18  영등포구   19.9  20.77  23.03   24.0
19   동작구   18.8  23.33   24.4  26.17
20   관악구  16.93  21.43   23.4  23.73
21   서초구  19.33   26.0   26.0  26.97
22   강남구  18.93  25.77  27.37  26.17
23   송파구   20.6  22.77  24.53   25.3
24   강동구   20.7  22.37   23.0   25.1

In [176]:
l_kk = []
l_ee = []
l_mm = []
l_hh = []

tar = dfd['평균(유아)'].max()
tar2 = dfd['평균(초등)'].max()
tar3 = dfd['평균(중등)'].max()
tar4 = dfd['평균(고등)'].max()

for city in cities:
    vaa = dfd[dfd['구별']==city]['평균(유아)'].values[0]
    b = round(((vaa/tar)*10)*0.08,2)
    l_kk.append(b)
    vaa = dfd[dfd['구별']==city]['평균(초등)'].values[0]
    b = round(((vaa/tar2)*10)*0.08,2)
    l_ee.append(b)
    vaa = dfd[dfd['구별']==city]['평균(중등)'].values[0]
    b = round(((vaa/tar3)*10)*0.08,2)
    l_mm.append(b)
    vaa = dfd[dfd['구별']==city]['평균(고등)'].values[0]
    b = round(((vaa/tar4)*10)*0.08,2)
    l_hh.append(b)
l_kk

[0.72,
 0.57,
 0.79,
 0.76,
 0.8,
 0.69,
 0.71,
 0.72,
 0.57,
 0.72,
 0.68,
 0.63,
 0.77,
 0.74,
 0.72,
 0.71,
 0.74,
 0.6,
 0.76,
 0.72,
 0.64,
 0.74,
 0.72,
 0.78,
 0.79]

In [179]:
qqq= pd.DataFrame([cities,l_kk,l_ee,l_mm,l_hh]).transpose()
qqq = qqq.rename(columns={0:'구별',1:'유아',2:'초등',3:'중등',4:'고등'})

In [181]:
qqq.to_csv("eduPoint.csv")

In [50]:
li = [] 
for x in c_list:
    a = df_crime[df_crime['구별'] == x]['발생합계'].mean()
    li.append(a)

[3768.0,
 4178.5,
 3362.0,
 2484.5,
 3963.0,
 3686.0,
 4278.0,
 2959.5,
 3637.5,
 2179.5,
 4080.0,
 3735.0,
 2872.5,
 5007.0,
 3364.5,
 4776.5,
 4758.5,
 3199.0,
 5830.0,
 3250.0,
 5177.0,
 5134.0,
 7408.5,
 5752.5,
 3966.5]

In [136]:
l = []
for i in df_ct['구별']:
    vaa = df_ct[df_ct['구별'] == i]['평균'].values[0]
    b = round(((vaa/tar)*10)*0.04,2)
    l.append(b)
l

[0.09,
 0.1,
 0.1,
 0.17,
 0.12,
 0.12,
 0.12,
 0.18,
 0.1,
 0.06,
 0.11,
 0.17,
 0.14,
 0.11,
 0.17,
 0.11,
 0.2,
 0.1,
 0.16,
 0.11,
 0.24,
 0.18,
 0.31,
 0.12,
 0.11]

In [138]:
df_ct['총점'] = l

In [140]:
df_ct.to_csv("cctvPoint.csv")

In [80]:
re[re['구별'] == '종로구']['합계'].values[0]

3768.0

In [81]:
l = []
for i in c_list:
    vaa = re[re['구별'] == i]['합계'].values[0]
    b = round(((vaa/tar)*10)*0.05,2)
    l.append(b)
l

[0.25,
 0.28,
 0.23,
 0.17,
 0.27,
 0.25,
 0.29,
 0.2,
 0.25,
 0.15,
 0.28,
 0.25,
 0.19,
 0.34,
 0.23,
 0.32,
 0.32,
 0.22,
 0.39,
 0.22,
 0.35,
 0.35,
 0.5,
 0.39,
 0.27]

In [86]:
re['총점'] = l

In [88]:
re.to_csv("crimePoint.csv")